<div class="content-wrapper">
  <div class="ui container">
    <div ng-hide="editingTitleBlock">
      <div><h1 style="display: inline;">{{course.Name}}</h1><span class="edit-tag" ng-click="editTitleBlock()">Edit</span></div>
      <p>Created on {{course.newDate}} | {{course.Suspended ? 'Suspended' : 'Active'}}</p>
    </div>
    <div ng-show="editingTitleBlock">
      <form class="ui form">
        <div class="field">
          <input type="text" name="name" placeholder="Title" ng-model="course.Name">
        </div>
        Created on {{course.newDate}} | 
          <input type="checkbox" ng-model="course.Suspended">
        {{course.Suspended ? "Suspended" : "Active"}}
        <button class="ui blue button" type="submit" ng-click="submitTitleBlock()">Done</button>
      </form>
    </div>
    <div class="ui divider"></div>
    <div ng-hide="editingDescription">
      <p>{{course.Description}}<span class="edit-tag" ng-click="editDescription()">Edit</span></p>
    </div>
    <div ng-show="editingDescription">
      <form class="ui form">
        <div class="field">
          <input type="text" name="description" placeholder="Description" ng-model="course.Description">
        </div>
        <button class="ui blue button" type="submit" ng-click="submitDescription()">Done</button>
      </form>
    </div>
    <div class="ui divider"></div>
    <list-edit-user users="course.Users" role="ROLES.COORDINATOR" title="Coordinator(s)" update="updateCoordinators" ng-model="coordinatorsData"></list-edit-user>
    <div class="ui divider"></div>
    <list-edit-user users="course.Users" role="ROLES.TUTOR" title="Tutor(s)" update="updateTutors" ng-model="tutorsData"></list-edit-user>
    <div class="ui divider"></div>
    <list-edit-user users="course.Users" role="ROLES.STUDENT" title="Student(s)" update="updateStudents" ng-model="studentsData"></list-edit-user>
  </div>
</div>