<div class="content-wrapper">
  <div class="ui container">
    <div ng-hide="editingTitleBlock">
      <div><h1 style="display: inline;">{{course.Name}}</h1><span class="edit-tag" ng-click="editTitleBlock()">Edit</span></div>
      <p>Created on {{course.newDate}} | {{course.Suspended ? 'Suspended' : 'Active'}}</p>
    </div>
    <div ng-show="editingTitleBlock">
      <form class="ui form">
        <div class="field">
          <input type="text" name="name" placeholder="Title" ng-model="course.Name">
        </div>
        Created on {{course.newDate}} | 
          <input type="checkbox" ng-model="course.Suspended">
        <span ng-show="course.Suspended">Suspended</span><span ng-hide="course.Suspended">Active</span>
        <button class="ui blue button" type="submit" ng-click="submitTitleBlock()">Done</button>
      </form>
    </div>
    <div class="ui divider"></div>
    <div ng-hide="editingDescription">
      <p>{{course.Description}}<span class="edit-tag" ng-click="editDescription()">Edit</span></p>
    </div>
    <div ng-show="editingDescription">
      <form class="ui form">
        <div class="field">
          <input type="text" name="description" placeholder="Description" ng-model="course.Description">
        </div>
        <button class="ui blue button" type="submit" ng-click="submitDescription()">Done</button>
      </form>
    </div>
    <div class="ui divider"></div>
    <div><h3 style="display: inline;">Coordinator(s)</h3><span class="edit-tag">Edit</span></div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th class="single line">Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Suspended</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in course.Users | filter : {Role: ROLES.COORDINATOR}">
          <td class="ui center aligned"><a ng-href="./#/admin/user/{{user.Detail.Id}}">{{user.Detail.Name}}</a></td>
          <td class="ui center aligned">{{user.Detail.Identifier[1]}}</td>
          <td class="ui center aligned">{{user.Detail.Identifier[0]}}</td>
          <td class="ui center aligned">{{user.Detail.Suspended}}</td>
        </tr>
      </tbody>
    </table>
    <div class="ui divider"></div>
    <div><h3 style="display: inline;">Tutor(s)</h3><span class="edit-tag">Edit</span></div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th class="single line">Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Suspended</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in course.Users | filter : {Role: ROLES.TUTOR}">
          <td class="ui center aligned"><a ng-href="./#/admin/user/{{user.Detail.Id}}">{{user.Detail.Name}}</a></td>
          <td class="ui center aligned">{{user.Detail.Identifier[1]}}</td>
          <td class="ui center aligned">{{user.Detail.Identifier[0]}}</td>
          <td class="ui center aligned">{{user.Detail.Suspended}}</td>
        </tr>
      </tbody>
    </table>
    <div class="ui divider"></div>
    <div><h3 style="display: inline;">Student(s)</h3><span class="edit-tag">Edit</span></div>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th class="single line">Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Suspended</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in course.Users | filter : {Role: ROLES.STUDENT}">
          <td class="ui center aligned"><a ng-href="./#/admin/user/{{user.Detail.Id}}">{{user.Detail.Name}}</a></td>
          <td class="ui center aligned">{{user.Detail.Identifier[1]}}</td>
          <td class="ui center aligned">{{user.Detail.Identifier[0]}}</td>
          <td class="ui center aligned">{{user.Detail.Suspended}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>