<div class="content-wrapper">
  <div class="ui stackable container" ng-show="page=='main'">
    <p><a href="./#/admin/courses/">Show All Courses</a></p>
    <p><a href="./#/admin/course/new/">Create New Courses</a></p>
  </div>
  <div class="ui stackable container" ng-show="page=='listCourses'">
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th colspan="3">
            Courses
          </th>
        </tr>
        <tr>
          <th>Name</th><th>Description</th><th>Time Created</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in courses">
          <td><a ng-href="./#/admin/course/{{course.Id}}" ng-bind="course.Name"></a></td>
          <td ng-bind="course.Description"></td>
          <td ng-bind="course.newDate"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui stackable container" ng-show="page=='newCourse'">
    <div class="ui three top attached steps">
      <div class="ui step" ng-class="step.style.info">
        <i class="info icon"></i>
        <div class="content">
          <div class="title">Information</div>
          <div class="description">A bit information for the course</div>
        </div>
      </div>
      <div class="ui step" ng-class="step.style.staff">
        <i class="users icon"></i>
        <div class="content">
          <div class="title">Staffs</div>
          <div class="description">Add subject coordinator(s)</div>
        </div>
      </div>
      <div class="ui step" ng-class="step.style.done">
        <i class="checkmark icon"></i>
        <div class="content">
          <div class="title">Done</div>
        </div>
      </div>
    </div>
    <div class="ui bottom attached segment">
      <form class="ui form" ng-show="step.current=='info'">
        <div class="field">
          <label>Course Name</label>
          <input type="text" name="course-name" ng-model="step.data.name">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea rows="4" ng-model="step.data.description"></textarea>
        </div>
        <button class="ui blue button" type="submit" ng-click="step.handler[0]()">Create</button>
      </form>
      <form class="ui form" ng-show="step.current=='staff'">
        <div class="field">
          <label>Find Users who are the coordinators of the course</label>
          <find-user ng-change="changeChoice(chosen)" ng-model="chosen" options="users"></find-user>
        </div>
        <button class="ui blue button" type="submit" ng-click="step.handler[1]()">Add</button>
      </form>
    </div>
  </div>
</div>