<div class="content-wrapper">
  <div class="ui stackable container">
  	<h1>Tasks</h1>
  	<p><a ng-href="./#/course/{{courseId}}/coordinator/stages/add">Add stages to course</a></p>
  	<p><a ng-href="./#/course/{{courseId}}/coordinator/tasks/add">Add tasks to stage</a></p>
  	<div class="ui divider"></div>
  	<h1>Manage users</h1>
  	<p><a ng-href="./#/course/{{courseId}}/coordinator/tutors">Manage tutor(s)</a></p>
  	<p><a ng-href="./#/course/{{courseId}}/coordinator/students">Manage student(s)</a></p>
  </div>
 </div>