<div class="dropdown-searching" ng-style="dropdownMain">
	<div class="dropdown-container" ng-click="openSearching()">
		<span ng-repeat="item in chosen" class="dropdown-chosen-item">{{item.Name}} <i class="remove icon" ng-click="remove(item)"></i></span>
		<input ng-model="query" ng-change="queryChange(query)" type="text" class="dropdown-search-input" ng-style="inputWidth">
	</div>
	<i class="dropdown icon" ng-click="toggleSearching()"></i>
	<div class="dropdown-item-container" ng-style="dropdownContainer">
		<div class="dropdown-item" ng-hide="options">No item is found.</div>
		<div ng-repeat="option in options" class="dropdown-item" ng-click="add(option)">{{option.Name}}, {{option.Identifier[0]}}</div>
	</div>
</div>
