<div class="ui grid stackable container login-wrapper">
  <div class="eight wide column login-wrapper">
    <div class="login-center">
      <h1 class="ui header">Login</h1>
      <form class="ui form">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui blue button" type="submit">Login</button>
      </form>
    </div>
  </div>
  <div class="eight wide column login-wrapper">
    <div class="login-center">
      <h1 class="ui header">Register</h1>
      <form class="ui form">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui button" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>