  <script src="/public/js/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js"></script>
  <script src="/public/js/bootstrap-3.3.6.min.js"></script>
  <script src="/public/js/angular.min.js"></script>
  <script src="/public/js/angular-route.min.js"></script>
  <script src="/public/js/angular-cookies.min.js"></script>
  <script src="/public/js/script.js" type="text/javascript" charset="utf-8"></script>
  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}
  </body>
</html>
